*.pyc
__pycache__/
.env
.vscode/
.idea/
*.sublime-*
.DS_Store
.venv/
# Ignore all checkpoints
results/**/checkpoints/

# Track CSV files only
!results/**/csvs/*.csv     # include CSVs
!results/**/timeseries.csv  # include timeseries.csv

# Ignore everything else inside results
results/**
